@font-face {
	font-family: 'HelveticaNeue';
	src: local('Helvetica Neue Light'), local('Helvetica-Neue-Light'), url('./fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff2') format('woff2'), url('./fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff') format('woff'), url('./fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueMedium';
	src: local('HelveticaNeueMedium'), url('./fonts/HelveticaNeue-Medium/HelveticaNeueCyr-Medium.woff2') format('woff2'), url('./fonts/HelveticaNeue-Medium/HelveticaNeueCyr-Medium.woff') format('woff'), url('./fonts/HelveticaNeue-Medium/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueBold';
	src: local('HelveticaNeueBold'), url('./fonts/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.woff2') format('woff2'), url('./fonts/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.woff') format('woff'), url('./fonts/HelveticaNeue-Bold/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

.colorpalette {
	color: #3FB34A;
	color: #106838;
	color: #EFEFF2;
	color: #FFFFFF;
	color: #000000;
	color: #9B9B9B;
	color: #EC4F38;
	color: #F88200;
}

#root {
	width: 100%;
	display: flex;
	justify-content: center;
}

.heading-one {
	font-family: 'HelveticaNeueBold';
	font-size: 36px;
}

.heading-two {
	font-family: 'HelveticaNeue';
	font-size: 20px;
}

.heading-three {
	font-family: 'HelveticaNeue';
	font-size: 18px;
}

.heading-four {
	font-family: 'HelveticaNeueBold';
	font-size: 18px;
}

.heading-five {
	font-family: 'HelveticaNeueMedium';
	font-size: 14px;
}

.heading-six {
	font-family: 'HelveticaNeue';
	font-size: 14px;
}

.heading-seven {
	font-family: 'HelveticaNeueMedium';
	font-size: 12px;
}

.heading-eight {
	font-family: 'HelveticaNeueBold';
	font-size: 12px;
}

.heading-nine {
	font-family: 'HelveticaNeueMedium';
	font-size: 10px;
}

.App {
	background-color: #EFEFF2;
	width: 1024px;
}

@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	.App {
		width: 100%;
	}
	.btn-call {
		margin-top: 16px;
		background-color: #106838!important;
		color: #FFFFFF!important;
		width: 100%;
		height: 48px;
	}
}