.main-gallery {
	display: inline-flex;
	height: 432px;
	background-color: #FFFFFF;
}

.main-photo {
	width: 728px;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.main-photo-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.main-info-panel {
	height: 100%;
	width: 296px;
}

.main-info-pannel-container {
	overflow-y: auto;
	height: 100%;
	padding-top: 48px;
	padding-left: 40px;
}

.main-panel-one>.title {
	margin-bottom: 32px;
}

.main-panel-one>.spec-label {
	color: #9B9B9B;
	margin-bottom: 8px;
}

.main-panel-one>.spec-value {
	margin-bottom: 16px;
}

.main-panel-two {
	margin-top: 32px;
}

.main-panel-two>.item-number {
	color: #9B9B9B;
	margin-top: 16px;
	margin-bottom: 8px;
}

.main-panel-two>.item-vin {
	color: #9B9B9B;
	margin-bottom: 32px;
}

.main-panel-two>.item-share {
	margin-bottom: 32px;
}

.counter-section {
	display: inline-flex;
}

.counter-section>.counter-item {
	margin-right: 24px;
}

.counter-item>.counter-label {
	color: #9B9B9B;
}

.counter-item>.counter-value {
	color: #3FB34A;
}

@media only screen and (max-width: 620px) {
	.main-gallery {
		display: block;
		height: auto;
		width: 100%;
	}
	.main-gallery>.carousel, .main-gallery .carousel-inner, .main-gallery .carousel-item {
		height: 256px;
	}
	.main-gallery>.carousel img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.main-info-panel {
		height: 256px;
		width: 100%;
	}
	.main-info-pannel-container {
		width: 100%;
		height: 100%;
		display: inline-flex;
		padding-left: 0px;
		margin-top: 0px;
		padding-top: 0px;
	}
	.main-panel-one {
		width: 50%;
		margin-right: 8px;
		margin-left: 16px;
	}
	.main-panel-two {
		width: 50%;
		margin-right: 16px;
		margin-left: 8px;
		margin-top: 0px;
	}
	.main-panel-one>.title {
		margin-top: 32px;
		margin-bottom: 16px;
	}
	.main-panel-two>.item-number {
		margin-top: 88px;
	}
	.main-panel-two>.item-vin {
		margin-bottom: 0px;
	}
	.main-panel-two>.item-share {
		margin-top: 24px;
		margin-bottom: 0px;
	}
	.counter-item>.counter-label {
		margin-top: 24px;
	}
	.counter-item>.counter-value {
		margin-top: 8px;
	}
}