.header {
	width: 100%;
	height: 56px;
	background-color: #000000;
}

.header-item {
	height: 100%;
	width: 64px;
	background-color: #F88200;
	float: right;
	padding-top: 24px;
}
.header-black-item {
	height: 100%;
	width: 64px;
	background-color: #000000;
	float: right;
	padding-top: 24px;
	margin-right: 24px;
}

.rotate-left::before {
	/* z-index: -1; */
	content: "";
	position: absolute;
	top: 0px;
	height: 56px;
	width: 20px;
	background-color: #F88200;
	border-left: 1px solid #FFFFFF;
	-webkit-transform: skewX(345deg);
	-moz-transform: skewX(345deg);
	-ms-transform: skewX(345deg);
	transform: skewX(345deg);
	margin-left: -7px;
}

.header-icon{
	margin-left: 24px;
	margin-right: 24px;
	margin-bottom: 16px;
	color: #FFFFFF;
}

.header-icon:hover{
	color: #EFEFF2;
}

.header-icon svg{
}