.cards-info {
	display: inline-flex;
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
}

.card {
	margin-left: 8px;
	padding-top: 40px;
	height: 266px;
	width: 480px;
	background-color: #FFFFFF;
	overflow-y: auto;
}

.card>p, .card>div {
	width: calc(100% -80px);
	margin-left: 40px;
	margin-right: 40px;
}

.card-value {
	width: 20%;
}

.card-label{
	width: 80%;
}

.card-left {
	margin-left: 24px;
}

.card-right {
	margin-left: 8px;
}

.custom-card-title {
	margin-bottom: 8px;
	color: #9B9B9B;
}

.card-line {
	padding-top: 16px;
	display: flex;
}

.card-label {
	color: #9B9B9B;
}

.card-line>p {
	margin-bottom: 16px!important;
}

.card-line-border {
	border-bottom: 1px solid #9B9B9B;
}

@media only screen and (max-width: 620px) {
	.cards-info {
		margin-top: 0px;
		display: block;
	}
	.card {
		width: 100%;
		padding-top: 0px;
		margin-left: 0px;
		margin-top: 16px;
		padding-bottom: 24px;
	}
	.custom-card-title {
		margin-top: 0px;
		padding-top: 40px;
	}
}